@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(254, 249, 236);
}

.fadeIn {
  animation: fadeIn 0.5s 0.25s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 0.98;
  }
}

.fadeOut {
  animation: fadeOut 0.5s 0.25s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    transform: translateX(0%);
    opacity: 0.98;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

details summary::-webkit-details-marker {
  display: none;
  list-style: none;
}

@keyframes zoomLeftToRight {
  0% {
    transform: translateX(-100%) scale(0);
  }
  50% {
    transform: translateX(50vw) scale(1);
  }
  100% {
    transform: translateX(100%) scale(0);
  }
}

@keyframes zoomRightToLeft {
  0% {
    transform: translateX(100%) scale(0);
  }
  50% {
    transform: translateX(-50vw) scale(1);
  }
  100% {
    transform: translateX(-100%) scale(0);
  }
}

@keyframes zoomUpToDown {
  0% {
    transform: translateY(-100%) scale(0);
  }
  50% {
    transform: translateY(50vh) scale(1);
  }
  100% {
    transform: translateY(100%) scale(0);
  }
}

@keyframes zoomDiagonal {
  0% {
    transform: translate(-100%, -100%) scale(0);
  }
  50% {
    transform: translate(50vw, 50vh) scale(1);
  }
  100% {
    transform: translate(100%, 100%) scale(0);
  }
}

.zoom-left-to-right {
  animation: zoomLeftToRight 5s infinite;
}

.zoom-right-to-left {
  animation: zoomRightToLeft 5s infinite;
}

.zoom-up-to-down {
  animation: zoomUpToDown 5s infinite;
}

.zoom-diagonal {
  animation: zoomDiagonal 5s infinite;
}
